.bg {
    background-image: linear-gradient(#FF7676 , #F2D070, #D292FF);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 

}
.no-padding {
    padding: 0;
}
.wallet {
    height: 1125px;
    width: 100%;
}
.coin {
    height: auto;
    width: 500px;
    display: block;
    margin: 0 auto ;
}
.coin:hover{
    height: auto;
    width: 700px;
    transition: all 0.6s;
}
.lunch2 {
    height:auto;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-top: 200px;
}
.lunch1 {
    height:auto;
    width: 1000px;
    display: block;
    margin-left: 0;
    margin-right: auto;
    margin-top: 100px;
}
.in-row {
    display: inline-flex;
    width: 100%;
    align-items: center;
}

.coin2 {
    height: 500px;
    width: 500px;
    display: inline-block;
    margin-left: auto;
    margin-right: 235px;
    margin-top: 600px;
}
.coin3 {
    height: 500px;
    width: 500px;
    display: inline-block;
    margin-left: auto;
    margin-top: 600px;
}
.coin-margin {
    margin: 500px auto;
}
